body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding-right: 300px;
    overflow: hidden;
    float: right;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav{
      margin-bottom: 30px;
  }
 
 

h1{
    font-size: 50px;
    text-transform: uppercase;
}
p{
    color: dimgray;
}
section{
    height: 600px;
    margin-bottom: 100px;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    
}
.link-button{
    background-image: linear-gradient(90deg,tomato, orange);
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    text-transform: capitalize;
    font-size: 30px;
}
.name-highlight{
    color: brown;
}
.one-third{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px lightgray;
    border-radius: 10px;
    background-color: white;
}
.one-third img{
    max-width: 350px;
    margin-top: 15px;
    
    
}
.latest-work{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.box{
    position: relative;
    display: inline-block; 
    top: 200px;
    left: 250px;
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 35%; 
    display: inline-block;
}
.work-inquary{
    color: white;
    font-size: 30px;
}
.latest-project{
    background-color: rgb(232, 240, 240);
}
.contact-area{
    position: relative;
    left: 90px;
    box-shadow: 10px 10px 40px lightgrey;
    height: 400px;
    background-color: white;
    margin-top: 90px;
    border-radius: 10px;
    
}
.contact{
    background-color: rgb(232, 240, 240);;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }
    .map-width{
        padding: 10px;
    }
    .search{
        text-align: center;
        text-transform: uppercase;

    }
.icon-img{
    max-width: 25px;
    padding: 10px;
}
.text-center{
    text-align: center;
    color: gray;
}
    
footer{
    position: relative;
    left: 
}
.cursor{
    cursor: pointer;
}